<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1">

    <title>Sectyr Sciences</title>
    <link rel="icon" href="favicon.png" type="image/png">
    <link rel="shortcut icon" href="favicon.ico" type="img/x-icon">

    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,800italic,700italic,600italic,400italic,300italic,800,700,600'
          rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Rubik|Trirong" rel="stylesheet">

    <link href="{{ asset('bundles/sectyr/css/knight/bootstrap.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bundles/sectyr/css/knight/style.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bundles/sectyr/css/knight/font-awesome.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bundles/sectyr/css/knight/responsive.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bundles/sectyr/css/knight/animate.css') }}" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="{{ asset('bundles/sectyr/js/knight/jquery.1.8.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/sectyr/js/knight/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/sectyr/js/knight/jquery-scrolltofixed.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/sectyr/js/knight/jquery.easing.1.3.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/sectyr/js/knight/jquery.isotope.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/sectyr/js/knight/wow.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/sectyr/js/knight/classie.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    <!-- =======================================================
        Theme Name: Knight
        Theme URL: https://bootstrapmade.com/knight-free-bootstrap-theme/
        Author: BootstrapMade
        Author URL: https://bootstrapmade.com
    ======================================================= -->

</head>
<body>
<header class="header" id="header"><!--header-start-->
    <div class="container">
        <figure class="logo animated fadeInDown delay-07s">
            <a href="#"><img src="{{ asset('bundles/sectyr/img/logo.png') }}" alt=""></a>
        </figure>
        <h1 class="animated fadeInDown delay-07s">Sectyr Sciences</h1>
        <ul class="we-create animated fadeInUp delay-1s">
            <li>Innovations in Intelligence</li>
        </ul>
        <a class="link animated fadeInUp delay-1s servicelink" href="#service">Read more</a>
    </div>
</header><!--header-end-->

<nav class="main-nav-outer" id="test"><!--main-nav-start-->
    <div class="container">
        <ul class="main-nav">
            <li><a href="#header">Home</a></li>
            <li><a href="#service">Services</a></li>
            <li class="small-logo"><a href="#header"><img src="{{ asset('bundles/sectyr/img/small-logo.png') }}" alt=""></a></li>
            <li><a href="#work">Information</a></li>
            <li><a href="#Bot">Try our AI</a></li>
        </ul>
        <a class="res-nav_click" href="#"><i class="fa-bars"></i></a>
    </div>
</nav><!--main-nav-end-->


<section class="main-section" id="service"><!--main-section-start-->
    <div class="container">
        <h2>Services</h2>
        <h6>We offer AIs across a range of different behaviors</h6>
        <div class="row">
            <div class="col-lg-4 col-sm-6 wow fadeInLeft delay-05s">
                <div class="service-list">
                    <div class="service-list-col1">
                        <i class="fa-paw"></i>
                    </div>
                    <div class="service-list-col2">
                        <h3>Pet Liaison®</h3>
                        <p>Wish your pets could benefit from our AI technologies too? Then our PetLiaison® technology will be a wish come true.</p>
                    </div>
                </div>
                <div class="service-list">
                    <div class="service-list-col1">
                        <i class="fa-gear"></i>
                    </div>
                    <div class="service-list-col2">
                        <h3>Machine Control</h3>
                        <p>Our AIs can also be used to direct robots and accomplish the most complex tasks easily.</p>
                    </div>
                </div>
                <div class="service-list">
                    <div class="service-list-col1">
                        <i class="fa-apple"></i>
                    </div>
                    <div class="service-list-col2">
                        <h3>Apple Brain</h3>
                        <p>Our AIs can be connected to your Apple account, so they know everything they need to know about you before you even meet them!</p>
                    </div>
                </div>
                <div class="service-list">
                    <div class="service-list-col1">
                        <i class="fa-medkit"></i>
                    </div>
                    <div class="service-list-col2">
                        <h3>Remote Diagnostic</h3>
                        <p>Having an issue with your AI? Ask it to contact our support team, and we will take care of any problems in a flash.</p>
                    </div>
                </div>
            </div>
            <figure class="col-lg-8 col-sm-6  text-right wow fadeInUp delay-02s">
                <img src="https://lorempixel.com/650/390/cats/" alt="">
            </figure>

        </div>
    </div>
</section><!--main-section-end-->

<section class="main-section alabaster" id="work"><!--main-section alabaster-start-->
    <div class="container">
        <div class="row">
            <figure class="col-lg-5 col-sm-4 wow fadeInLeft">
                <img src="https://lorempixel.com/521/462/business/" alt="">
            </figure>
            <div class="col-lg-7 col-sm-8 featured-work">
                <h2>More information</h2>
                <P class="padding-b">We don't only offer AI here, we also offer a seamless customer service experience beginning from when first contact our company.</P>
                <div class="featured-box">
                    <div class="featured-box-col1 wow fadeInRight delay-02s">
                        <i class="fa-magic"></i>
                    </div>
                    <div class="featured-box-col2 wow fadeInRight delay-02s">
                        <h3>MAGIC OF ARTIFICAL INTELLIGENCE</h3>
                        <p>Is AI magic? Of course not. All of this is made possible by our top tier team of expert engineers.</p>
                    </div>
                </div>
                <div class="featured-box">
                    <div class="featured-box-col1 wow fadeInRight delay-04s">
                        <i class="fa-gift"></i>
                    </div>
                    <div class="featured-box-col2 wow fadeInRight delay-04s">
                        <h3>NEATLY PACKAGED</h3>
                        <p>Want to surprise someone with the gift of AI? We can send personalized access codes in a beautifully designed gift box! A delight for all ages!</p>
                    </div>
                </div>
                <div class="featured-box">
                    <div class="featured-box-col1 wow fadeInRight delay-06s">
                        <i class="fa-dashboard"></i>
                    </div>
                    <div class="featured-box-col2 wow fadeInRight delay-06s">
                        <h3>RESPONSIVENESS</h3>
                        <p>Have questions about our AI packages or how to care for an AI you've ordered through us? Send an email to our customer help center, or give us a call. We have dedicated representatives standing by 24/7.</p>
                    </div>
                </div>
                <a class="Learn-More" href="#">Learn More</a>
            </div>
        </div>
    </div>
</section><!--main-section alabaster-end-->


<section class="main-section paddind" id="Bot"><!--main-section-start-->
    <div class="container">
        <h2>Try it yourself</h2>
        <h6>Feel free to engage in a discusion with a recreation of one of our first AI prototypes!</h6>

        <div class="row chatbox">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-primary">
                    <div class="panel-heading" style="background-color: #000; border-color: black;">
                        <span class="glyphicon glyphicon-comment"></span> Chat

                        <div class="panel-body">
                            <ul class="chat">
                                <li class="left clearfix">
                                    <div class="chat-body clearfix">
                                        <div class="">
                                            <strong class="pax-msg-author">IOU</strong>
                                        </div>
                                        <p>
                                            Welcome, I am ready to talk to you !
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="panel-footer">
                            <form action="{{ path("pax_chat_message") }}" method="POST" id="chat-form" autocomplete="off">
                                <div class="col-lg-10">
                                    <div class="input-group">
                                        <input id="chat-input" type="text" class="form-control" placeholder="Type your message here...">
                                          <span class="input-group-btn">
                                            <button class="btn btn-default" type="button">Send</button>
                                          </span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--main-section-end-->

</div>
<footer class="footer">
    <div class="container">
        <div class="footer-logo"><a href="#"><img src="{{ asset('bundles/sectyr/img/footer-logo.png') }}" alt=""></a></div>
        <span class="copyright">&copy; Knight Theme. All Rights Reserved</span>
        <div class="credits">
            <a href="https://bootstrapmade.com/free-business-bootstrap-themes-website-templates/">Business Bootstrap
                Themes</a> by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
</footer>


<script type="text/javascript">
    $(document).ready(function (e) {
        $('#test').scrollToFixed();
        $('.res-nav_click').click(function () {
            $('.main-nav').slideToggle();
            return false

        });

    });
</script>

<script>
    wow = new WOW(
        {
            animateClass: 'animated',
            offset: 100
        }
    );
    wow.init();
</script>


<script type="text/javascript">
    $(window).load(function () {
        $('.main-nav li a, .servicelink').bind('click', function (event) {
            var $anchor = $(this);

            $('html, body').stop().animate({
                scrollTop: $($anchor.attr('href')).offset().top - 102
            }, 1500, 'easeInOutExpo');

            event.preventDefault();
        });
    })
</script>

<script type="text/javascript">
    $(window).load(function () {
        var $container = $('.portfolioContainer'),
            $body = $('body'),
            colW = 375,
            columns = null;


        $container.isotope({
            // disable window resizing
            resizable: true,
            masonry: {
                columnWidth: colW
            }
        });

        $(window).smartresize(function () {
            // check if columns has changed
            var currentColumns = Math.floor(( $body.width() - 30 ) / colW);
            if (currentColumns !== columns) {
                // set new column count
                columns = currentColumns;
                // apply width to container manually, then trigger relayout
                $container.width(columns * colW)
                    .isotope('reLayout');
            }

        }).smartresize(); // trigger resize to set container width
    });

    var cs = "";

    $('#chat-form').submit(function(e){
        var message = $("#chat-input").val();
        createMessage("right", message);
        $("#chat-input").val("");

        $.post(
            $(this).attr('action'),
            {
                message: encodeURIComponent(message),
                cs: cs
            }
        ).done(function(response){
            createMessage("left", response.response);
            cs = response.cs;
            if(response.type === "link"){
                window.open(response.response, '_blank');
            } else if(response.type === "slink") {
                window.location = response.response;
            }
        });
        e.preventDefault();
    });

    function createMessage(align, message) {
        if(align == 'right'){
            var author = "You";
        } else {
            var author = "IOU";
        }

        $('ul.chat').append(
            "<li class=\""+ align +" clearfix\"><div class=\"chat-body clearfix\"><div><strong class=\"pax-msg-author\">" + author + "</strong></div><p>" + message + "</p></div></li>"
        );
        $(".panel-body").scrollTop(1E10);
    }
</script>

</body>
</html>
