<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1">
    <meta name="robots" content="noindex, nofollow">

    <title>Turtle</title>

    <script type="text/javascript" src="{{ asset('bundles/sectyr/js/knight/jquery.1.8.3.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.terminal/1.0.10/js/jquery.terminal.min.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery.terminal/1.0.10/css/jquery.terminal.min.css" rel="stylesheet"/>
</head>
<body>




    <script>
        jQuery(function($, undefined) {
            $('body').terminal(function(command) {
                if (command !== '') {
                    var term = this;
                    try {
                        $.ajax({
                            type: 'POST',
                            url: '{{ path('sectyr_turtle_command') }}',
                            data: {
                                command: encodeURIComponent(command)
                            },
                            success: function(response){
                                term.echo(response.response);

                                if(response.type === "link"){
                                    window.open(response.response, '_blank');
                                }
                            },
                            async:false
                        });
                    } catch(e) {
                        this.error(new String(e));
                    }
                } else {
                    this.echo('');
                }
            }, {
                greetings: 'Black Watchmen operations informations\n- Type "help" for instructions',
                name: 'helper',
                height: 200,
                prompt: 'helper> '
            });
        });
    </script>
</body>
</html>
